<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="/">
            <img src="/images/logo.png" alt="Homepage">
        </a>
    </div>

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <div class="header-nav__content">
            <h3>Navigation</h3>

            <ul class="header-nav__list">
                <li class="current"><a class="" href="/" title="home">Home</a></li>
                <li><a class="smoothscroll homeNavOnly" href="#about" title="about">About</a></li>
                <li><a class="" href="/bio" title="services">Bio</a></li>
                <li><a class="" href="/listing" title="services">Listings</a></li>
                <li><a class="" href="/rentals" title="services">Rentals</a></li>
                <li><a class="" href="/videos" title="services">Videos</a></li>
                <li><a class="" href="/market-map" title="services">Market Map</a></li>
                <li><a class="" href="/users" title="services">User Page</a></li>
                <li><a class="" href="/user-login" title="services">Login</a></li>
                <li><a class="" href="/user-signup" title="services">Signup</a></li>
                <li><a class="" href="/logout" title="services">Logout</a></li>
                <li><a class="smoothscroll homeNavOnly" href="#works" title="works">Works</a></li>
                <li><a class="smoothscroll homeNavOnly" href="#clients" title="clients">Clients</a></li>
                <li><a class="smoothscroll homeNavOnly" href="#contact" title="contact">Contact</a></li>
            </ul>

            <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto
                sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>

            <ul class="header-nav__social">
                <li>
                    <a href="https://www.facebook.com/casasaspen" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/casasaspen" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.google.com/maps/place/Brittanie+Rockhill/@39.1901897,-106.8207657,15z/data=!4m5!3m4!1s0x0:0xb66960ce6a96aada!8m2!3d39.1871309!4d-106.8179828"
                        target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/brittanie-rockhill-50a35047/" target="_blank"><i class="fa fa-linkedin"
                            aria-hidden="true"></i></a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->